<!DOCTYPE html>
<html>
	<head>
  		<link rel="stylesheet" href="{{ asset('css/500.css') }}">
	</head>
	<body>
		<div class="wrapper">
			<div class="box">
				<h1>Erreur</h1>
				<p>Désolée, une erreur s'est produite.</p>
				<p>&#58;&#40;</p>
				<p><a href="{{ path('home_page') }}">Revenir à la page d'accueil</a></p>
			</div>
		</div>
	</body>
</html>
