<!-- purple x moss 2020 -->
<!DOCTYPE html>
<html>
	<head>
  		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  		<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  		<link rel="stylesheet" href="{{ asset('css/404.css') }}">
	</head>
	<body>
  		<div class="mainbox">
    		<div class="err">4</div>
    		<i class="far fa-question-circle fa-spin"></i>
    		<div class="err2">4</div>
    		<div class="msg">La page demandée sur le site Demo hair coiffure n'est pas trouvée.<p>Pour revenir sur le site cliquez sur <a href="{{ path('home_page') }}">Accueil</a> et réitèrez votre demande.</p></div>
      	</div>
    </body>
</html>